<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/scss" href="messages.scss">
  <meta charset="UTF-8" />
  <title>chat-space</title>
</head>

<body>
  <header>
    <div class="header">グループを作成しました</div>
  </header>
<div class="main">
  <div class="left-contents">
    <div class="left-contents__user-setting">
      <p class="left-contents__user-setting__user-name">test-user
      </p>
<a href="/"><i class="fa fa-edit"></i>

    </div>
    <div class="left-contents__group-menu">
      <p class="left-contents__group-menu__group-name">test-group</p>
      <p class="left-contents__group-menu__group-tweet">hello</p>
    </div>
  </div>
  </div>
  <div class="right-contents">
    <div class="right-contents__talk-group">
      <div class="right-contents__talk-group__group-name">test-group</div>
      <div class="right-contents__talk-group__edit-button">Edit
      </div>
      <p class="right-contents__talk-group__group-member">member</p>
    </div>
    <div class="right-contents__talk-room">
      <p class="right-contents__talk-room__tweet-user">test-user</p>
      <p class="right-contents__talk-room__tweet-date">2019/03/09 20:20:59</p>
      <p class="right-contents__talk-room__tweet">こんにちは</p>
<!-- tweet2 -->
      <p class="right-contents__talk-room__tweet-user">test-user</p>
      <p class="right-contents__talk-room__tweet-date">2019/03/09 20:20:59</p>
      <p class="right-contents__talk-room__tweet">こんにちは</p>
<!-- tweet3 -->
      <p class="right-contents__talk-room__tweet-user">test-user</p>
      <p class="right-contents__talk-room__tweet-date">2019/03/09 20:20:59</p>
      <p class="right-contents__talk-room__tweet">こんにちは</p>
<!-- tweet4 -->
      <p class="right-contents__talk-room__tweet-user">test-user</p>
      <p class="right-contents__talk-room__tweet-date">2019/03/09 20:20:59</p>
      <p class="right-contents__talk-room__tweet">こんにちは</p>
<!-- tweet5 -->
      <p class="right-contents__talk-room__tweet-user">test-user</p>
      <p class="right-contents__talk-room__tweet-date">2019/03/09 20:20:59</p>
      <p class="right-contents__talk-room__tweet">こんにちは</p>
    </div>

<fotter>
  <div class="fotter">
 <input placeholder="type a message" class="fotter__message-form">
 <input type="submit" name="commit" value="Send" class="fotter__submit-button">
  </div>
</fotter>



</body>
</html>
